.DictionarySearch header {
    background-color: #282c34;
    margin-top: 40px;
    min-height: 300px;
    text-align: center;
    color: white;
  }

  .DictionarySearch main {
    text-align: center;
    margin-top: 40px;
  }