.top-line, .bottom-line {
    border: 2px solid #6B7AA1;
    margin: 30px 0 16px;
}

.middle-line {
    margin : 10px;
    border: 2px solid #6B7AA1;
}

h2 {
    text-transform: capitalize;
}

.Result {
    background-color: #C1CFC0;
    border-radius: 10px;
    color: #11324D;
    margin: 40px 100px;
    text-align: center;
    margin-top: 40px;
    padding: 50px;
    box-shadow: 0 5px 15px rgb(0 0 0 / 20%);
  }